<a href="https://colab.research.google.com/github/abhi123412/Spam_Classification_In_GMAIL/blob/main/SPAM_CLASSIFICATION_IN_GMAIL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demo1 - Understanding the data set

In [54]:
import pandas as pd
# import numpy as np
import spacy

In [55]:
nlp = spacy.load('en_core_web_sm')

In [56]:
data = pd.read_csv('spam.csv',encoding='cp1252')

In [57]:
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [58]:
data = data[['v1','v2']]

In [59]:
data['v1'] = data['v1'].apply(lambda x:0 if x=='ham' else 1)

In [60]:
data

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

#Demo 2 - Text Pre-Processing

In [63]:
def process(x):
  temp = []
  document = nlp(x.lower())                      #tokenization
  for i in document:
    if i.is_stop!=True and i.is_punct!=True:   # Removing stop words 
      temp.append(i.lemma_)                    # Lemmatization
    else:
      pass
    
  return (' '.join(temp))
# print(process("My name is Abhijeet. I am a cricketer"))

In [64]:
data['v2'] = data['v2'].apply(lambda x: process(x))

In [65]:
data.head()

   v1                                                 v2
0   0  jurong point crazy available bugis n great wor...
1   0                              ok lar joke wif u oni
2   1  free entry 2 wkly comp win fa cup final tkts 2...
3   0                                u dun early hor u c
4   0                              nah think go usf live

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [69]:
vectorizer = TfidfVectorizer(analyzer='word',stop_words='english')

In [70]:
text_vector = vectorizer.fit_transform(data['v2'].values.tolist())

In [71]:
print(text_vector)

  (0, 7072)	0.19863129993143025
  (0, 1016)	0.35890799882424634
  (0, 1839)	0.3032069277494209
  (0, 1590)	0.34261647990985794
  (0, 3887)	0.3032069277494209
  (0, 7242)	0.24060094265073245
  (0, 3166)	0.1975304138199145
  (0, 1592)	0.3032069277494209
  (0, 1209)	0.2684514781881452
  (0, 2071)	0.2729205052435625
  (0, 5116)	0.257424652517704
  (0, 3779)	0.35890799882424634
  (1, 4789)	0.5647537939557097
  (1, 7165)	0.4459451111953121
  (1, 3746)	0.47451057922863127
  (1, 3921)	0.4218684931830353
  (1, 4765)	0.2811632882742994
  (2, 77)	0.2395244966956236
  (2, 1088)	0.17132935684973827
  (2, 5400)	0.16473274253951514
  (2, 6786)	0.1254671678341206
  (2, 6201)	0.2005836640243086
  (2, 5355)	0.16820504287497096
  (2, 5442)	0.16539371122554727
  (2, 775)	0.22517546975215236
  :	:
  (5567, 460)	0.24331799189705156
  (5567, 6755)	0.1924906650388016
  (5567, 4554)	0.25504800078010476
  (5567, 6610)	0.1645623122369073
  (5567, 5171)	0.2459387918665145
  (5567, 1845)	0.19354805892700622
  (5567, 5254)	0.2027661466146115
  (5567, 5400)	0.23045936371388273
  (5567, 7176)	0.18351358884559557
  (5568, 2626)	0.6964402301279243
  (5568, 2911)	0.6009943905379231
  (5568, 3381)	0.39214378536617706
  (5569, 5056)	0.6198322100581006
  (5569, 6315)	0.5916968433151221
  (5569, 4438)	0.5154637494387073
  (5570, 1414)	0.5014777884908822
  (5570, 885)	0.45003672389238514
  (5570, 3609)	0.4236504621825172
  (5570, 3212)	0.3096047366352092
  (5570, 1618)	0.2972617049751718
  (5570, 4001)	0.23341155414760634
  (5570, 7110)	0.269327268387026
  (5570, 2922)	0.23509469452312493
  (5571, 5605)	0.7930026248542038
  (5571, 6747)	0.6092182178615007

#Demo 3 - Splitting Data Set

In [72]:
from sklearn.model_selection import train_test_split

In [73]:
x_train, x_test , y_train , y_test = train_test_split(text_vector.toarray(),data['v1'], test_size=0.2,random_state=20)

#Demo 4 - Model Building

In [74]:
from sklearn.naive_bayes import BernoulliNB

In [75]:
modelB = BernoulliNB()
modelB.fit(x_train, y_train)
print(modelB.score(x_train, y_train))

0.9845187345748261

In [76]:
y_predictedB = modelB.predict(x_test)

In [77]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predictedB))

0.9829596412556054

#Best model is BernoulliNB with 98% Accuracy